* {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	display: flex;
	flex-direction: row;
	font-family: 'Open Sans', sans-serif;
}

/* Fixed nav bar */

nav {
	z-index: 1;
	width: 225px;
	height: 100vh;
	position: fixed;
	background-color: #011f4b;
}

.nav-pic {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav i {
	color: #fff;
	padding: 0rem 0.7rem;
	font-size: 1.5rem;
	transition: 0.3s;
}

/* .social-links {
	position: absolute;
	bottom: 0;
} */

/* .nav-pic > img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-top: 25px;
} */

nav > ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	position: relative;
	/* margin-top: -150px; */
}

nav > ul > li {
	padding: 20px 0px;
	width: 100%;
	border-top: 1px solid #03396c;
	text-align: center;
}

/* nav > ul > li:nth-last-child(2) {
	border-bottom: 1px solid #03396c;
} */

nav > ul > li > a {
	text-decoration: none;
	color: #fff;
	font-weight: 800;
	font-size: 85%;

	text-align: center;
}

.nav-highlight {
	background-color: #03396c;
}

.nav-highlight > a {
	color: #fff;
}

nav i:hover {
	color: rgba(255, 255, 255, 0.6);
}

#landing-link {
	animation: nav-anim;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.nav-anim {
	animation: nav-anim;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	opacity: 0;
	margin-left: -75px;
}

#home-link {
	animation-delay: 0.1s;
}

#about-link {
	animation-delay: 0.2s;
}

#projects-link {
	animation-delay: 0.3s;
}

#contact-link {
	animation-delay: 0.4s;
}

@keyframes nav-anim {
	from {
		opacity: 0;
		margin-left: -75px;
	}
	to {
		opacity: 1;
		margin-left: 0px;
	}
}

/* Loading Animation CSS */
.loading-container {
	position: fixed;
	top: 0;
	left: 200;
	z-index: 10;
}

.loading-splash {
	background-color: rgb(0, 51, 102, 1);
	height: 100vh;

	width: calc(100vw - 225px);
	animation: load-anim forwards 0.75s ease-out;
	animation-delay: 1s;
}

@keyframes load-anim {
	from {
		width: calc(100vw - 225px);
	}
	to {
		width: 0vw;
	}
}

/* Contact section */

.contact-container {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-container {
	height: 700px;
	width: 900px;
	/* box-shadow: -0px 5px 10px -1px rgba(0, 0, 0, 1); */
	border-radius: 0.5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.form-title {
	width: 100%;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center; */
}

.form-title > h4 {
	text-align: center;
	font-size: 3rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	padding: 2rem;
}

.form-title > p {
	text-align: center;
}

#contact-form {
	padding-top: 4rem;
	width: 75%;
	font-family: 'Roboto', sans-serif;
}

#contact-form > div:first-child {
	display: flex;
	margin-bottom: 2rem;
}

.name-container {
	margin-right: 2rem;
}

.email-container {
	margin-left: 2rem;
}

.name-container,
.email-container {
	flex: 1;
}

input,
textarea {
	margin-top: 0.5rem;
	padding: 1rem 1rem;
	border-radius: 0.3rem;
	border: 0.05rem solid rgba(0, 0, 0, 0.1);
}

.name-container,
.email-container,
.message-container {
	display: flex;
	flex-direction: column;
}

.submit-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;
}

.submit-container > input {
	padding: 0.95rem 1.4rem;
	border: 1px solid #011f4b3a;
	color: #fff;
	background-color: #011f4b;
	text-decoration: none;
	margin-bottom: 10vh;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 3px;
}

/* Page content */

#main-container {
	width: calc(100% - 225px);
	margin-left: 225px;
}

/* Landing section */

#landing {
	height: 100vh;
	min-height: 575px;
	position: relative;
	width: 100%;
	background-image: url('../img/landing_bg7-min.jpg');
	/* background-image: url('../img/landing_bg7.png'); */
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	/* border-left: 4px solid #00274f; */
	display: flex;
	justify-content: center;
	align-items: center;
}

#landing::before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100vh;
	width: inherit;
	background-color: #03396c;
	content: '';
}

.landing-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	opacity: 0;
	margin-top: 100px;
	animation: landing-anim forwards;
	animation-duration: 1s;
	animation-delay: 1.5s;
}

.home-pic {
	width: 125px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-pic > img {
	width: 100%;
	border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, 0.5);
}

.home-content {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-content > h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 3.5rem;
	letter-spacing: 0.5rem;
}

.home-content > h4 > span {
	color: rgb(202, 202, 202);
}

.home-content > p {
	font-weight: 300;
	padding-top: 5px;

	font-size: 1.5rem;
}

.contact-btn {
	padding: 15px 20px;
	border: 1px solid white;
	color: #fff;
	text-decoration: none;
	margin-bottom: 10vh;
	font-family: 'Roboto', sans-serif;

	border-radius: 3px;
}

.contact-btn:focus {
	outline: none;
}

.contact-btn:hover {
	background-color: rgb(0, 51, 102, 0.3);
}

@keyframes landing-anim {
	from {
		margin-top: 100px;
		opacity: 0;
	}
	to {
		margin-top: 0px;
		opacity: 1;
	}
}

/* Projects section */

#projects {
	/* min-height: 800px; */ /* necessary for when only 2 projects */
	min-height: 580px;
	margin: auto;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	/* border-left: 5px solid rgb(0, 51, 102, 1); */
}

.projects-cont {
	max-width: 1800px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects-sub-cont {
	height: 100%;
	width: 100%;
}

.projects-header {
	/* height: 17%; */
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: 'Roboto', sans-serif;
}

.projects-header > h4 {
	letter-spacing: 0.1rem;
	font-size: 3rem;
	font-weight: 400;
	padding: 2rem 0rem;
}

.projects-info > p {
	font-size: 1.2rem;
	text-align: center;
	color: rgba(0, 0, 0, 1);
	padding-bottom: 0.5rem;
}

.projects-info > p:last-child {
	padding-bottom: 2rem;
}

.projects-info {
	/* height: 10%; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.projects-container {
	/* height: 68%; */
	width: 65%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* margin-bottom: 2%; */

	border-radius: 10px;
}

.project {
	position: relative;
	width: 100%;
	/* height: 250px; */
	display: flex;
	overflow: hidden;
	margin: 2rem 0rem;
	/* box-shadow: 10px 10px 9px -8px rgba(0, 0, 0, 0.1); */
}

.project-img {
	position: relative;
	width: 100%;
	padding-top: 66%;
	border-radius: 5px;
}

.project-img-cont {
	width: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-img > img {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: 5px;
	object-fit: cover;
}

.project-content {
	width: 65%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-content-cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 1rem 2rem;
}

.project-content-cont > h3 {
	font-size: 1.5rem;
	font-weight: 400;
	padding-bottom: 1rem;
	font-family: 'Roboto', sans-serif;
}

.project-content-cont > p {
	font-size: 1rem;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	/* padding-bottom: 1rem; */
}

.project-tech {
	width: 100%;
	height: 1.2rem;
	padding: 1rem 0rem;
}

.project-tech > img {
	height: 100%;
	padding-right: 1rem;
}

.project-links > a {
	font-size: 1.5rem;
	padding-right: 0.5rem;
	color: #011f4b;
	transition: 0.3s;
}

.project-links > a:hover {
	color: rgba(1, 31, 75, 0.6);
}

.projects-all {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}

.projects-all > a {
	text-decoration: none;
	color: #011f4b;
	border-radius: 3px;
	padding: 0.5rem 1rem;
	border: 0.05rem solid #011f4b;
}

/* .project-links > a:last-child {
	font-size: 1rem;
	text-decoration: none;
} */

/* .project {
	position: relative;
	width: 70%;
	min-width: 800px;
	height: 300px;
	margin: 1.5% 1.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 2px 10px 9px -8px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 9px -8px rgba(0, 0, 0, 1);

	border-radius: 7px;
	overflow: hidden;
} */

/* .project > div {
	height: 100%;
	width: 100%;
}

.project-img {
	background-color: red;
	position: relative;
	overflow: hidden;
	height: 100%;
	padding-top: 591.44px / 1127.34px * 100%;
	border-radius: 5px;
} */

/* .project-img > img {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0; */
/* /* object-fit: fill; */
/* -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), 67%, rgba(0, 0, 0, 0)); */
/* z-index: 0; */
/* } */

/* .img-splash {
	position: absolute;
	background-color: rgba(1, 31, 75, 0.95);
	content: 'a';
	display: inline-block;
	height: 0%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 5px;
}

.img-splash > div {
	display: flex;
	opacity: 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 0%;
	width: 100%;
	position: relative;
	transition: 0.2s;
} */

/* .img-splash > div > h4 {
	color: #fff;
	font-weight: 400;
	font-size: 1.5rem;
	letter-spacing: 0.05rem;
}

.project-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-links > a {
	color: #fff;
	padding: 0.3rem;
	font-size: 1.5rem;
}

.unavailable {
	color: rgba(255, 255, 255, 0.3) !important;
} */

/* .img-splash-btn {
	position: absolute;
	bottom: 2.5rem;
}

.img-splash-btn > a {
	border: 0.02rem solid #fff;
	color: #fff;
	border-radius: 5px;
	padding: 0.4rem 0.8rem;
	text-decoration: none;
	font-size: 0.9rem;
} */

.img-splash-show {
	animation: img-splash 0.2s forwards;
}

.img-splash-hide {
	animation: img-splash-hide 0.2s forwards;
}

.reveal-splash-text {
	opacity: 1 !important;
	height: 100% !important;
}

@keyframes img-splash {
	from {
		height: 0px;
	}

	to {
		height: 100%;
		/* bottom: 0; */
	}
}

@keyframes img-splash-hide {
	from {
		height: 100%;
	}

	to {
		height: 0%;

		/* bottom: 0; */
	}
}

/* .project-content {
	padding-top: 25px;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

.project-content > h5 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 150%;
	font-weight: 400;
	letter-spacing: 0rem;
}

.content-links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-links > a {
	font-size: 100%;
	font-weight: 400;
	text-decoration: none;
	margin-top: 1.4rem;
	padding: 0.5rem 1rem;
	color: #03396c;
	border: 2px solid rgba(1, 31, 75);
	color: #fff;
	background-color: rgba(1, 31, 75);
	background-color: #011f4b;
	border-radius: 3px;
	transition: 0.1s;
} */

/* .content-links > a:last-child {
	margin-left: 1rem;
	background-color: #fff;
	color: rgba(1, 31, 75);
	border: 2px solid rgba(1, 31, 75);
} */

/* .content-links > a:hover {
	background-color: rgba(16, 110, 197, 0.1);
}

.content-links > a:first-child:hover {
	background-color: rgba(3, 57, 108, 1);
	border: 2px solid rgba(3, 57, 108, 1);
}

.projects-all {
	height: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
}
 */

@media only screen and (max-width: 1300px) {
	.projects-container {
		width: 85%;
	}
}

@media only screen and (max-width: 1000px) {
	.project {
		flex-direction: column;
	}

	.project-img-cont {
		width: 70%;
		margin: auto;
	}

	.project-content {
		width: 70%;
		margin: auto;
	}

	.project-content-cont {
		padding: 1.5rem 0rem;
	}
}

@media only screen and (max-width: 800px) {
	nav {
		width: 100%;
		height: 75px;
		z-index: 2;
	}

	nav > ul {
		flex-direction: row;
	}

	.project {
		width: 100%;
	}

	#main-container {
		width: 100%;
		margin: auto;
	}

	/* #landing-link,
	#about-link,
	#education-link,
	#projects-link {
		animation: none;
		margin-left: 0px;
	}

	#about,
	#education,
	#projects {
		border-left: none;
		position: relative;
		padding: 15px;
		border-top: 52px solid transparent;
		margin-top: -52px;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
	}

	#landing {
		border-left: none;
		position: relative;
	}

	#about::before,
	#landing::before,
	#education::before,
	#projects::before {
		content: '';
		position: absolute;
		top: -25px;
		left: 0;
		right: 0;
		border-top: 1px solid transparent;
	}

	.landing-container {
		animation: none;
		margin-top: 0px;
		opacity: 1;
	} */
}

/* @media only screen and (min-width: 3500px) and (min-height: 1800px) {
	html {
		font-size: 30px;
	}

	.projects-cont {
		max-height: 1100px;
		max-width: none;
	}
} */

@media only screen and (min-width: 2400px) and (min-height: 1100px) {
	html {
		font-size: 18px;
	}

	.projects-container {
		width: 75%;
	}

	.projects-header > h4 {
		padding: 4rem 0rem;
	}

	.projects-info > p:last-child {
		padding-bottom: 3rem;
	}

	.project:last-child {
		padding-bottom: 3rem;
	}
}

.scroll-btn {
	position: absolute;
	bottom: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.showcase-btn,
.scroll-btn > p {
	color: rgb(255, 255, 255);
	font-weight: 300;
	opacity: 0.4;
}

.scroll-btn > p {
	letter-spacing: 0.06rem;
	font-size: 0.9rem;
}

.fa-angle-down {
	font-size: 30px;
}
