* {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: row;
	font-family: 'Open Sans', sans-serif;
}

/* Fixed nav bar */

nav {
	width: 175px;
	height: 100vh;
	position: fixed;
	background-color: #001a35;
}

.nav-pic {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .nav-pic > img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-top: 25px;
} */

nav > ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	/* margin-top: -150px; */
}

nav > ul > li {
	padding: 2.5px 0px;
}

nav > ul > li > a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
	margin-left: -200px;
}

#landing-link {
	animation: nav-anim;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

#about-link {
	animation: nav-anim;
	animation-duration: 1s;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}

#education-link {
	animation: nav-anim;
	animation-duration: 1s;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
}

#projects-link {
	animation: nav-anim;
	animation-duration: 1s;
	animation-delay: 0.6s;
	animation-fill-mode: forwards;
}

@keyframes nav-anim {
	from {
		margin-left: -200px;
	}
	to {
		margin-left: 0px;
	}
}

/* Contact section */

#contact {
	margin-left: 175px;
	position: absolute;
	display: none;
	z-index: 1;
	height: 100%;
	width: calc(100% - 175px);
	justify-content: center;
	align-items: center;
}

#contact > div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.98);
	height: 475px;
	width: 750px;
	position: absolute;
	/* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.contact-info {
	display: flex;
	position: absolute;
	top: 10px;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.contact-info > h4 {
	padding: 10px 5px;
	flex: 1;
	text-align: center;
	letter-spacing: 0.1rem;
	font-size: 80%;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

#contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
}

#close-form {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1;
}

#close-form:hover {
	cursor: pointer;
}

input:focus,
textarea:focus {
	outline: none;
}

.input-text {
	padding: 5px 10px;
	border: none;
	border-bottom: 1px solid rgba(46, 77, 140, 0.6);
	height: 25px;
	width: 250px;
	font-size: 85%;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

#f-input-1 > #name-input {
	margin-right: 25px;
}

#f-input-2 {
	padding: 25px 0px;
}

#form-message {
	width: 100%;
	height: 200px;
	border: none;
	border-bottom: 1px solid rgba(46, 77, 140, 0.6);
	font-size: 85%;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	padding: 5px 10px 0px 10px;
	box-sizing: border-box;
	resize: none;
}

#f-submit {
	display: flex;
	justify-content: center;
	align-items: center;
}

#f-submit > input {
	background-color: rgba(46, 77, 140, 0.9);
	color: #fff;
	margin-top: 20px;
}

/* Page content */

#main-container {
	width: calc(100% - 175px);

	margin-left: 175px;
}

/* Landing section */

#landing {
	height: 100vh;
	min-height: 400px;
	position: relative;
	width: 100%;
	background-image: url('../img/landing_bg-min.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	border-left: 5px solid rgb(0, 51, 102, 1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.landing-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	opacity: 0;
	margin-top: 100px;
	animation: landing-anim forwards;
	animation-duration: 1s;
	animation-delay: 1.5s;
}

.home-pic {
	width: 125px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-pic > img {
	width: 100%;
	border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, 0.5);
}

.home-content {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
}

.home-content > h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 200%;
	letter-spacing: 0.05rem;
}

.home-content > h4 > span {
	color: rgb(190, 190, 190);
}

.home-content > p {
	font-weight: 300;
}

.contact-btn {
	padding: 10px 10px;
	border: none;
	background-color: rgba(255, 255, 255, 1);
	margin-top: 10px;
	color: rgba(46, 77, 140, 1);
}

.contact-btn:focus {
	outline: none;
}

.contact-btn:hover {
	cursor: pointer;
}

@keyframes landing-anim {
	from {
		margin-top: 100px;
		opacity: 0;
	}
	to {
		margin-top: 0px;
		opacity: 1;
	}
}

/* Projects section */

#projects {
	min-height: 500px;

	margin: auto;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-left: 5px solid rgb(0, 51, 102, 1);
}

.projects-cont {
	max-height: 900px;
	max-width: 1800px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects-sub-cont {
	height: 100%;
	width: 100%;
}

.projects-header {
	height: 17%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: 'Roboto', sans-serif;
}

.projects-header > h4 {
	font-weight: 300;
	font-size: 225%;
}

.projects-info > p {
	font-size: 120%;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}

.projects-info {
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.projects-container {
	height: 68%;
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.project {
	position: relative;
	width: 40%;

	margin: 0% 3%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.project-img {
	background-color: red;
	position: relative;
	height: 50%;
	width: 100%;
	padding-top: 66%; /* 4:3 Aspect Ratio */
}

.project-img > img {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	object-fit: fill;
}

.project-content {
	padding-top: 25px;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

.project-content > h5 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 120%;
	font-weight: 300;
	letter-spacing: 0.06rem;
}

.content-links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-links > a {
	font-size: 100%;
	font-weight: 400;
	padding: 10px;
	text-decoration: none;
}

.projects-all {
	height: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 1000px) {
	#projects {
		height: auto;
		margin: 75px 0px;
	}

	.projects-info {
		padding: 50px 0px;
	}

	.project {
		width: 80%;

		padding-bottom: 25px;
	}
	.projects-cont {
		max-height: none;
	}
}

@media only screen and (max-width: 800px) {
	body {
		flex-direction: column;
	}

	nav {
		width: 100%;
		height: 75px;
		z-index: 2;
	}

	nav > ul {
		flex-direction: row;
	}

	.project {
		max-width: 80%;
	}

	#main-container {
		width: 100%;
		margin: auto;
	}

	#landing-link,
	#about-link,
	#education-link,
	#projects-link {
		animation: none;
		margin-left: 0px;
	}

	#about,
	#education,
	#projects {
		border-left: none;
		position: relative;
		padding: 15px;
		/* border-top: 52px solid transparent;
		margin-top: -52px; */
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
	}

	#landing {
		border-left: none;
		position: relative;
	}

	#about::before,
	#landing::before,
	#education::before,
	#projects::before {
		content: '';
		position: absolute;
		top: -25px;
		left: 0;
		right: 0;
		border-top: 1px solid transparent;
	}

	.landing-container {
		animation: none;
		margin-top: 0px;
		opacity: 1;
	}
}

.scroll-btn {
	position: absolute;
	bottom: 10px;
	opacity: 0.3;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.showcase-btn,
.scroll-btn > p {
	color: rgb(255, 255, 255);
	font-weight: 300;
}

.scroll-btn > p {
	font-size: 0.9rem;
}

.fa-angle-down {
	font-size: 30px;
}
